{% extends 'communities/communities_base.html' %}

{% block precommunity %}
<h1><em>{{ community.name }}</em></h1>
<h2>Members Count: {{ community.members.count }}</h2>
<div class="content">
  {% if user in community.members.all %}
    <a href="{% url 'community:leave' slug=community.slug %}" class="btn btn-lg btn-warning">
      <span class="fa fa-times-circle-o"></span>Leave Community    </a>
  {% else %}
    <a href="{% url 'community:leave' slug=community.slug %}" class="btn btn-lg btn-default">
      <span class="fa fa-check-circle-o"></span>Join Community    </a>
  {% endif %}
</div>
{% endblock %}

{% block community_content %}
<div class="col-md-8">
  {% if community.posts.count==0 %}
    <h2><strong>No posts yet</strong></h2>
  {% else %}
    {% for post in community.posts.all %}
      {% include "posts/_post.html" %}
    {% endfor %}


</div>
{% endblock %}
